/* bootstrap */
@import "../bower_components/bootstrap/scss/bootstrap.scss";
@import "../vendor/owl.carousel/assets/owl.carousel.css";

/* */


@import "fonts";
@import "colors";
@import "mixins";

h1, h2, h3, h5, h6 {
	margin-top: 0;
}

body {
	padding: 0;
	@extend .ffbasetext;
	@extend .f-base;
}

$offset: 5rem;

a, button {
	&:focus, &:hover {
		outline: none !important;
		text-decoration: none;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 1000;
	ul {
		padding-top: 12px;
		float: right;
		li {
			margin-right: 30px;
			float: left;
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.header {
	form {
		min-width: 320px;
	}
}

.header-slider {
	.item {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-size: cover !important;
	}
}

.about, .services {
	padding-top: $offset;
}

.important {
	@extend .f-L;
	margin-bottom: 3rem;
}

.decor-line {
	background: gray;
	padding: 20px 0 10px;
	color: #fff;
	p {
		font-weight: bold;
	}
}

.services {
	.items-group {
		margin-bottom: 4rem;
	}
	.item {
		.thumb {
			margin: auto;
			margin-bottom: 2rem;
		}
		@extend .t-C;
	}
}

footer {
	padding-top: $offset;
	background: $dark;
	color: #fff;
	.contacts {
		margin-bottom: 4rem;
	}
}


@import "media";