header
  .top-section
    .container
      .col-xs-6
        .logo
          img.img-responsive(src='http://placehold.it/200x100')
      .col-xs-6
        h3.t-R 8 (423) 200-06-21
        nav.pull-right
          ul
            li
              a(href="#") О компании
            li
              a(href="#") Вопрос-ответ
            li
              a(href="#") Контактная информация
  .nav-section
    .container
      .col-xs-7
        nav
          ul
            li
              a(href="#") Мониторинг транспортных средств
            li
              a(href="#") Установка дополнительного оборудования
      .col-xs-5
        div.t-R
          +btn("btn btn-primary", "Отправить заявку")