footer
  .container
    .row.contacts
      .col-sm-6
        p 
          b e-mail: 
          a(href="#") info@b2bcard.com
        p 
          b phone: 
          | +357 25 388 600 
        p 226, Arch. Makariou III, 3030, Limassol, Cyprus



script(src="bower_components/jquery/dist/jquery.min.js")
script(src="vendor/owl.carousel/owl.carousel.js")
script(src="js/common.js")